*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #0000a4, #001097, #00188a, #001c7c, #001f6e, #001d67, #001c5f, #011a58, #021556, #041054, #060b52, #0a044f);   
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    scale: 0;
    transition: 1s all;
}
article{
    width: 50%;
    min-width: 375px;
    max-width: 980px;
    min-height: 550px;
    border-radius: 10px;
    background-color:  rgba(255, 255, 255 ,0.100);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);    
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    position: relative;
}
.pagina{
  width: 100%;
  min-width: 375px;
  max-width: 980px;
  min-height: 500px;
  border-radius: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.index{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.5s ease-out;
  z-index: 1;
}

.conteudo{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;  
}
.conteudo > div {
  display: none;
  scale: 0;
  transition: transform 0.5s ease;
}

.conteudo > div.mostrar {
  display: block;
  scale: 1;
}
.hidden{
  display: block;
}
.menu_page{
  display: none;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
header img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.infor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.infor h1{
    font-size: 50px;
}
.infor ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.infor ul li{
    list-style: none;
    font-size: 20px;
}
.infor_m2{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  list-style: none;
  gap: 20px;
  width: 90%;
}
.infor_m2 li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  font-size: 30px;
  transition: 0.5s all;
}
.infor_m2 li:hover{
  color: #c3c3c3c3;
  scale: 1.1;
}
.social{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding-top: 50px;
}
.social li a{
  font-size: 50px;
  color: #fff;  
  transition: 0.5s all;
}
.social li a:hover{
  color: #c3c3c3c3;
}

/*=========conteudo=========*/
#habilidades{
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 20px;
  margin-top: -500px;
}
.skils{
  width: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  
}
.skils p{
  min-width: 30px;
  max-width: 80%;
  text-align: center;
  font-size: 25px;
}
.habprontas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.habprontas h1{
  font-size: 30px;
}
.svgSkils {
  color: #0000a4;
  width: 50px;
  height: 50px;
}
.habaprendizado{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
#idiomas{
  position: absolute;
  top: 0px;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 20px;  
  margin-top: -500px;
}
#idiomas h1{
  font-size: 30px;
}
#idiomas p{
  min-width: 375px;
  max-width: 80%;
  text-align: center;
  font-size: 25px;
}
#portifolio{
  position: relative;
  position: absolute;
  top: -100px;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  gap: 20px;  
  width: 100%;   
  margin-top: -550px;
  overflow: auto;
  overflow-x: hidden; /* Adiciona barra de rolagem horizontal quando necessário */
  overflow-y: scroll;
}
.projetosareas{
  padding-top: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden; /* Adiciona barra de rolagem horizontal quando necessário */
  overflow-y: scroll; /* Esconde a barra de rolagem vertical */
      
}
/* Estilização da barra de rolagem para navegadores WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 2.5px; /* Largura da barra de rolagem vertical */
  height: 2.5px; /* Altura da barra de rolagem horizontal */
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor--azul); /* Cor do "polegar" (a parte que você arrasta) */
  border-radius: 2px; /* Arredondamento das bordas do "polegar" */
}

/* Estilização da barra de rolagem para Firefox */
.scrollable-div {
  scrollbar-width: thin; /* Define a largura da barra de rolagem como fina */
  scrollbar-color: var(--cor--azul); /* Define as cores do "polegar" e da "trilha" (a parte em que o "polegar" se move) */
}
.projetos{
  width: 90%;
  display: flex;
  gap: 20px;
  border: 1px solid #fff;
  border-radius: 10px;  
}

.projetos img{
  width: 50%;
  border-radius: 10px 0px 0px 10px;
}
.inforprojetos{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}
.repositorios{
  display: flex;
  gap: 20px;
}
.repositorios p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.repositorios p a{
  color: #fff;
  padding: 10px;
  font-size: 20px;
}
.buttonProjetos{
  top: 100%;
  left: 45%;
  position: absolute;
  z-index: 99;
  padding-top: -100px;
}
#experiencia{
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: -300px;
}
#experiencia p{
  color: #fff;
  font-size: 20px;
  width: 90%;
  text-align: center;
}
/*=========button=========*/
.button a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  cursor: pointer;
}

.button a:hover {
  background: #ffffff;
  color: #000;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff,
              0 0 25px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
}

.button a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.button a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 2s linear infinite;
}
/*=========wrapper checkbox=========*/
.switch {
    position: relative;
    width: 130px;
    height: 50px;
    margin: 0px;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(4,52,73);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    right: 20px;
    top:20px;
  }
  
  .switch:checked {
    background-color: rgb(0, 195, 255);
    background-size: cover;
    transition: background-image 1s ease-in-out;
  }
  
  .switch:after {
    content: '';
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes off {
    0% {
      transform: translateX(80px);
      width: 46px;
    }
  
    50% {
      width: 75px;
      border-radius: 25px;
    }
  
    100% {
      transform: translateX(0px);
      width: 46px;
    }
  }
  
  .switch:checked:after {
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
  }
  
  @keyframes on {
    0% {
      transform: translateX(0px);
      width: 46px;
    }
  
    50% {
      width: 75px;
      border-radius: 25px;
    }
  
    100% {
      transform: translateX(80px);
      width: 46px;
    }
  }
  
  .switch:checked:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    transform-origin: 53px 10px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: sun .7s forwards ease;
  }
  
  @keyframes sun {
    0% {
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    50% {
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    90% {
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
  
    100% {
      transform: rotate(0deg);
      background-color: #f5daaa;
      box-shadow: 0px 0px 10px #f5deb4,
      0px 0px 20px #f5deb4,
      0px 0px 30px #f5deb4,
       inset 0px 0px 2px #efd3a3;
      filter: blur(1px);
    }
  }
  
  .switch:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
  0px 0px 20px #f5deb4,
  0px 0px 30px #f5deb4,
   inset 0px 0px 2px #efd3a3;
    transform-origin: 53px 10px;
    animation: moon .7s forwards ease;
  }
  
  @keyframes moon {
    0% {
      transform: rotate(0deg);
      filter: blur(1px);
    }
  
    50% {
      filter: blur(1px);
    }
  
    90% {
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  
    100% {
      transform: rotate(170deg);
      background-color: transparent;
      box-shadow: 5px -1px 0px #fff;
      filter: blur(0px);
    }
  }
  /*=========== Loading ============*/
  .loading {
    width: 60px;
    height: 60px;
    position: relative;
    position: absolute;
    z-index: 99;
  }
  
  .d1 ,
  .d2 {
    border: 5px solid #64dfdf;
    border-radius: 50px;
  }
  
  .loading .d1 {
    width: 55px;
    height: 55px;
    position: absolute;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: load161 1s linear infinite;
  }
  
  .loading .d2 {
    width: 40px;
    height: 40px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    margin: 7.5px;
    animation: load2812 2s linear infinite;
  }
  
  @keyframes load161 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes load2812 {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  @media (max-width: 1050px) {
    article{
      width: 50%;
      max-width: 980px;
      height: 400px;
      padding: 10px;
     
  }
  .pagina{
    width: 100%;
    min-width: 375px;
    max-width: 980px;
    min-height: 400px;
    padding: 0px;
  }
    .index img{
      width: 150px;
      height: 150px;
    }
    .infor h1{
      font-size: 25px;
    }
    .infor ul li {
      font-size: 15px;
    }
    .infor_m2 li{
      font-size: 20px;
    }
 .skils p{
  font-size: 18px;
  width: 300px;
  padding-top: 30px;
 }
 .svgSkils{
  width: 48px;
 }
 #idiomas{
  padding-top: 50px;
 }
 #idiomas p{
  font-size: 18px;
  width: 200px;
 }
#portifolio{
 padding-top: 130px;
}
 .projetos{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.projetos img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.inforprojetos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.inforprojetos p{
  text-align: center;
}
.repositorios{
  display: flex;
  gap: 20px;
}
.repositorios p{
  display: flex;
  align-items: center;
  justify-content: center;
}
.repositorios p a{
  color: #fff;
  padding: 10px;
  font-size: 25px;
}
.buttonProjetos{
  top: 100%;
  left: 45%;
  position: absolute;
}
 #experiencia{
  padding-top: 140px;
}
#experiencia p{
  font-size: 15px;
  
}
  }